<div class="col-sm-12" style="margin-top:15px;">
  <div class="form-group">
    <div class="form-line">
      <input type="radio" name="{{form.prefix}}-tipo_pessoa" id="fisica" value="PF" {% if form.tipo_pessoa.value == 'PF' %}checked="checked"{% endif %}/>
      <label for="fisica"><strong>Pessoa Física</strong></label>
      <input type="radio" name="{{form.prefix}}-tipo_pessoa" id="juridica" value="PJ" {% if form.tipo_pessoa.value == 'PJ' %}checked="checked"{% endif %}/>
      <label for="juridica"><strong>Pessoa Jurídica</strong></label>
      <strong style="color:red;"> *</strong>
      {% if form.tipo_pessoa.errors %}<label class="error">{% for error in form.tipo_pessoa.errors %}{{error}}{% endfor %}</label>{% endif %}
    </div>
  </div>
</div>